.jsn-bootstrap .carousel h4{
    color: #fff;
    font-weight: bold;
}
.jsn-bootstrap img[class*="img-"] { margin: 10px 0; }
div.ig_text p.dropcap:first-letter { margin: 0.1em 0.2em 0.1em -0.05em; }
.jsn-master .jsn-bootstrap .mejs-container,
.jsn-master .jsn-bootstrap .ig-googlemap,
.jsn-master .jsn-bootstrap .local_file,
iframe, object, video {
	max-width: 100%;
}
.ig-googlemap.img-thumbnail {
	display: inherit;
}
.modal-backdrop.in {
	opacity: 0;
	z-index: -1;
}

/*** List icons  ***/
.jsn-bootstrap .ig-list-icons { 
	margin: 0; 
	padding: 0;
}
.jsn-bootstrap .ig-list-icons li {
	clear: both;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	min-height: 60px;
	overflow: hidden;
	position: relative;
	padding-bottom: 30px;
}
.jsn-bootstrap .ig-list-icons .ig-icon-base i { position: relative; }
.jsn-bootstrap .ig-list-icons [class^="icon-"],
.jsn-bootstrap .ig-list-icons [class*=" icon-"] {
    height: auto;
    line-height: 100%;
    margin-top: 0;
    vertical-align: middle;
    width: auto;
}
.jsn-bootstrap .ig-list-icons.ig-icon-16 .ig-icon-base i[class*="icon-"] { font-size: 14px; }
.jsn-bootstrap .ig-list-icons.ig-icon-24 .ig-icon-base i[class*="icon-"] { font-size: 22px; }
.jsn-bootstrap .ig-list-icons.ig-icon-32 .ig-icon-base i[class*="icon-"] { font-size: 30px; }
.jsn-bootstrap .ig-list-icons.ig-icon-48 .ig-icon-base i[class*="icon-"] { font-size: 46px; }
.jsn-bootstrap .ig-list-icons.ig-icon-64 .ig-icon-base i[class*="icon-"] { font-size: 62px; }
.jsn-bootstrap .ig-list-icons .ig-icon-base {
	position: relative;
	z-index: 9;
	text-align: center;
}
.jsn-bootstrap .ig-list-icons.ig-shape-circle .ig-icon-base {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: 2px solid rgba(255,255,255,0.4);
}
.jsn-bootstrap .ig-list-icons.ig-shape-square .ig-icon-base {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.jsn-bootstrap .ig-list-icons.ig-position-left .ig-icon-base {
	float: left;
	margin-right: 15px;
}
.jsn-bootstrap .ig-list-icons.ig-position-right {
	text-align: right;
}
.jsn-bootstrap .ig-list-icons.ig-position-right .ig-icon-base {
	float: right;
	margin-left: 15px;
}
.jsn-bootstrap .ig-list-content-wrap {
	overflow: hidden;
}
.jsn-bootstrap .ig-list-icons.ig-shape-circle.ig-icon-16 .ig-icon-base,
.jsn-bootstrap .ig-list-icons.ig-shape-square.ig-icon-16 .ig-icon-base {
	width: 45px;
	height: 45px;
	line-height: 37px;
}
.jsn-bootstrap .ig-list-icons.ig-shape-circle.ig-icon-24 .ig-icon-base,
.jsn-bootstrap .ig-list-icons.ig-shape-square.ig-icon-24 .ig-icon-base {
	width: 55px;
	height: 55px;
	line-height: 50px;
}
.jsn-bootstrap .ig-list-icons.ig-icon-32 .ig-icon-base {
	width: 67px;
	height: 67px;
	line-height: 60px;
}
.jsn-bootstrap .ig-list-icons.ig-icon-48 .ig-icon-base {
	width: 85px;
	height: 85px;
	line-height: 81px;
}
.jsn-bootstrap .ig-list-icons.ig-icon-64 .ig-icon-base {
	width: 100px;
	height: 100px;
	line-height: 98px;
}
.jsn-bootstrap .ig-list-icons.ig-shape-square.ig-icon-16 .ig-icon-base { line-height: 42px; }
.jsn-bootstrap .ig-list-icons.ig-shape-square.ig-icon-24 .ig-icon-base { line-height: 54px; }
.jsn-bootstrap .gm-style .ig-gmi-thumb {
	max-width: 120px;
	max-height: 120px;
	float:right;
}

/*** Content clips  ***/
[id*="contentclip-"] {
	padding: 20px 0;
}
.contentclips-meta span {
    margin-right: 10px;
}
div.contentclips-item {
    overflow: hidden;
}
.pri_second.horizontal > ul {
	width: 48%;
	margin: 0;
	float: right;
	list-style: none;
}
.contentclips-item .thumb {
	max-width: 100%;
	margin-bottom: 1em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}
.contentclips-item .thumb i.icon-picture {
	position: relative;
	top: 45%;
	left: -3px;
	font-size: 24px;
}
.contentclips-item .thumb.left {
    float: left;
    margin-right: 0.5em;
}
.contentclips-item .thumb.right {
    float: right;
    margin-left: 0.5em;
}
.contentclips-item .thumb.bottom {
	margin-top: 1em;
}
.contentclips-item .contentclips-text {
	clear: both;
}
.contentclips-text h3.link {
	display: block;
}
.contentclips-text ul.ig-social-links {
	margin: 0;
	padding: 0;
}
.contentclips-text > span {
	display: block;
}
.contentclips-text span.viewcount {
	font: italic 12px 'georgia';
	color: #909090;
}
.contentclips-text .description {
	line-height: 1.4;
}
.contentclips-text .description,
.contentclips-text > span {
	padding: 8px 0;
}
.contentclips-text ul.ig-social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 0;
}
.contentclips-text ul.ig-social-links li a:hover {
	text-decoration: none;
}
.contentclips-text ul.ig-social-links li a {
	font-size: 0.9em;
	display: inline-block;
	height: 21px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	   		border-radius: 3px;
}
.contentclips-text ul.ig-social-links li a.facebook {
	background: url(../images/icon-socials/facebook.png) no-repeat 2px 3px #ECEEF5;
    border: 1px solid #CAD4E7;
    width: 20px;
}
.contentclips-text ul.ig-social-links li a.facebook:hover {
	border-color: #9DACCE;
}
.contentclips-text ul.ig-social-links li a.twitter {
	background: url(../images/icon-socials/twitter.png) no-repeat 2px 5px #EEE;
	border: 1px solid #CCC;
	width: 22px;
}
.contentclips-text ul.ig-social-links li a.googleplus {
	background: url(../images/icon-socials/gplus.png) no-repeat 8px 2px;
	border: 1px solid rgba(0, 0, 0, 0.17);
	width: 42px;
}
.contentclips-text ul.ig-social-links li a.googleplus:hover {
	border-color: rgba(0, 0, 0, 0.3);
}
.contentclips-text ul.ig-social-links li a.twitter:hover {
	border-color: #AAA;
}
ul.contentclips-wrapper {
	list-style: none;
}
.pri_second.horizontal div.contentclips-item .thumb,
.pri_second.vertical .contentclips-item,
.contentclips-wrapper.list > li {
    float: left;
    width: 100%;
}
.contentclips-wrapper.list > li {
	margin-bottom: 15px;
}
.contentclips-wrapper.grid li{
    float: left;
    width: 200px;
}
.contentclips-wrapper.grid .contentclips-text, .contentclips-wrapper.grid .description{
    float: left;
}
.pri_second.vertical .contentclips-item {
    margin-bottom: 10px;
}
.pri_second.vertical ul {
	margin: 0;
}
.pri_second.horizontal div.contentclips-item {
    float: left;
    width: 48%;
}
.contentclips-wrapper.pri_second .link {
	margin: 0;
	line-height: 2;
}
.social-button-container {
    clear: both;
    overflow: hidden;
    margin: 0 auto;
}
.social-fb, .social-twitter, .social-gplus, .social-linkedin {
	margin: 7px 0;
	text-align:left;
}
.jsn-bootstrap .gm-style img {
	max-width: 1000px !important;
}
.jsn-bootstrap .gm-style .ig-gmi-thumb img{
	max-width: 120px !important;
}
.jsn-bootstrap .contentclips-wrapper ol.carousel-indicators,
.jsn-bootstrap .carousel.testimonial ol.carousel-indicators {
	bottom: -40px;
	top: auto;
	text-align: center;
}
.jsn-bootstrap .contentclips-wrapper ol.carousel-indicators li,
.jsn-bootstrap .carousel.testimonial ol.carousel-indicators li {
	display: inline-block;
	float: none;
}
.jsn-bootstrap .contentclips-wrapper ol.carousel-indicators li { background-color: #D6D6D6; }
.jsn-bootstrap .contentclips-wrapper ol.carousel-indicators li.active { background-color: #0088CC; }
.jsn-bootstrap .contentclips-wrapper .carousel-inner { padding-bottom: 20px; }
.jsn-bootstrap .carousel.contentclips-wrapper .carousel-control,
.jsn-bootstrap .carousel.testimonial .carousel-control {
	top: auto !important;
	bottom: -25px;
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 15px;
	border: 3px solid #D9D9D9;
	z-index: 6;
	background: #222;
	border-radius: 50%;
}
.jsn-bootstrap .contentclips-wrapper .carousel-control.left,
.jsn-bootstrap .testimonial .carousel-control.left { left: -5px; }
.jsn-bootstrap .contentclips-wrapper .carousel-control.right,
.jsn-bootstrap .testimonial .carousel-control.right { right: -5px;}
.contentclips-wrapper.pri_second.horizontal > .contentclips-item { margin-right: 2%; }
.contentclips-wrapper.pri_second.horizontal > ul > li {
	margin-bottom: 10px;
	border-bottom: 1px solid #F2F2F2;
}
.jsn-bootstrap .pagination {
	text-align: center;
}
.jsn-bootstrap .pagination ul > li:hover {
	cursor: pointer;
}
.contentclips-page {
    display: none;
}
.contentclips-page > .item {
	margin-bottom: 15px;
}
.contentclips-page.active {
    display: block !important;
}
.ig_loading {
    display: none;
}
.ig_loading.active {
    display: block !important;
}

/*** Promo Box ***/
.promo-box-shadow:before, .promo-box-shadow:after {
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
    transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */
    width: 50%;
    z-index: -1;
}
.promo-box-shadow:after {
    left: auto;
    right: 10px;
    transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
}
.ig-promobox {
	position: relative;
	z-index: 1;
}
.ig-promobox h2 {
	clear: none;
}
.ig-promobox section{
	padding: 28px 28px 27px 31px;
	margin: 0 0 28px;
	position: relative;
}

/*** Tabs ***/
[id*="tab_"] {
	padding: 10px 0;
}
.tabbable .tab-content {
	overflow: auto;
}
.jsn-bootstrap .tabs-below .tab-content {
	margin-bottom: 0;
	border-bottom: none;
}
.jsn-bootstrap .tabs-below .nav-tabs li {
	margin: -1px 0 0;
}
.jsn-bootstrap .tabs-below .tab-content,
.jsn-bootstrap .tabs-left .tab-content,
.jsn-bootstrap .tabs-right .tab-content {
	border-top: 1px solid #DDD;
}
.jsn-bootstrap .tabs-left .nav-tabs {
	border-right: none;
	margin-right: -1px;
}
.jsn-bootstrap .tabs-right .nav-tabs {
	border-left: none;
	margin-left: -1px;
}
.jsn-bootstrap .tabs-left .nav-tabs li,
.jsn-bootstrap .tabs-right .nav-tabs li {
	margin: 0;
}
.panel-title i {
	margin-right: 8px;
}
.tabs-below .nav-tabs {
	border-bottom: none;
	border-top: 1px solid #DDD;
}
.tabs-below .nav-tabs li.active a {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	   		border-radius: 0 0 4px 4px;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
	float: none;
}
.tabs-left > .nav-tabs {
	float: left;
}
.tabs-left .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs li a {
	border: none;
}
.tabs-left .nav-tabs li.active a {
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	   		border-radius: 4px 0 0 4px;
}
.tabs-right > .nav-tabs {
	float: right;
}
.tabs-right .nav-tabs li.active a {
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	   		border-radius: 0 4px 4px 0;
}

/*** Testimonial ***/
[id*="testimonial_"] {
	margin-bottom: 40px !important;
}
.testimonial img.circle{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
.jsn-bootstrap .carousel.testimonial ol.carousel-indicators li { background-color: #D6D6D6; }
.jsn-bootstrap .carousel.testimonial ol.carousel-indicators li.active { background-color: #0088CC; }
.jsn-bootstrap .carousel.testimonial .carousel-inner { padding-bottom: 20px; }
.testimonial .testimonial-item {
	font-family: Georgia,"Times New Roman",Times,serif;
	line-height: 1.6;
	text-align: center;
}
.testimonial .testimonial-item .testimonial-title {
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0;
}
.testimonial .testimonial-item .user-name {
	font-weight: bold;
	font-size: 20px;
}
.testimonial .testimonial-item .user-description {
	font-style: italic;
	opacity: 0.7;
}
.testimonial .testimonial-item .user-image {
	display: block;
}

/*** Button Bar ***/
.jsn-master .jsn-bootstrap .btn [class^="icon-"],
.jsn-master .jsn-bootstrap .btn [class*=" icon-"] { margin-left: 0; }
.jsn-bootstrap .btn-large [class^="icon-"],
.jsn-bootstrap .btn-large [class*=" icon-"] {
	margin: 2px 15px 0 -10px !important;
	font-size: 24px !important;
}

/* for pricing table label item */
.jsn-bootstrap .ig-element-pricingtable {
	display: table;
	width: 100%;
	text-align: center;
}
.jsn-bootstrap .ig-element-pricingtable li{
    list-style: none;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols {
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    float: left;
    margin: 35px 0 0;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols label {
	margin: 0;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols:first-Child,
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols:first-Child .ig-prtbl-header {
	border: none;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols:first-Child ul li {
	border-bottom: 1px dotted #E4E4E4;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols:first-Child .ig-prtbl-header {
	padding: 20px 0;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols:nth-Child(2) {
	border-left: 1px solid #E4E4E4;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols .ig-prtbl-header {
	border-bottom: 1px solid #E4E4E4;
}
.jsn-bootstrap .table-2-col .ig-prtbl-cols {
	width: 49.5%;
}
.jsn-bootstrap .table-3-col .ig-prtbl-cols {
	width: 32.5%;
}
.jsn-bootstrap .table-4-col .ig-prtbl-cols {
	width: 24.5%;
}
.jsn-bootstrap .table-5-col .ig-prtbl-cols {
	width: 19.5%;
}
.jsn-bootstrap .table-6-col .ig-prtbl-cols {
	width: 16%;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-title {
	padding: 10px 0;
	background: #F2F2F2;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-desc {
	font-size: 13px;
	font-family: Geogria;
	color: #999;
	font-style: italic;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-desc,
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-image {
	padding: 5px 0;
	border-top: 1px solid #E4E4E4;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-image img {
	width: 60%;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-price {
	text-transform: capitalize;
	font-size: 2.5em;
	padding: 30px 0;
	font-weight: bold;
	border-top: 1px solid #E4E4E4;
	color: #444;
}
.jsn-bootstrap .ig-element-pricingtable ul.ig-prtbl-features {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jsn-bootstrap .ig-element-pricingtable ul.ig-prtbl-features li {
	border-bottom: 1px solid #EEE;
    margin: 0;
    padding: 10px 0;
    line-height: 21px;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols .ig-prtbl-footer {
	padding: 30px 0;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols-featured {
	margin: 0 0 0 -1px;
	border: 1px solid #E4E4E4;
	-webkit-box-shadow: 0 0 10px rgba(205, 205, 205, 0.6);
	   -moz-box-shadow: 0 0 10px rgba(205, 205, 205, 0.6);
	   		box-shadow: 0 0 10px rgba(205, 205, 205, 0.6);
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols-featured .ig-prtbl-title {
	padding: 28px 0;
}
.jsn-bootstrap .ig-element-pricingtable .ig-prtbl-cols-featured .ig-prtbl-footer {
	padding: 40px 0;
}

/* Progress Bar */
.jsn-bootstrap .progress-info > span {
	margin-bottom: 5px;
	display: inline-block;
}
.jsn-bootstrap .progress-info .progress-title i {
	margin-right: 5px;
}
.jsn-bootstrap .progress-info .progress-percentage {
	margin-left: 10px;
}

/* Carousel */
.jsn-master .jsn-bootstrap .carousel {
	max-width: 100%;
}
.jsn-master .jsn-bootstrap .carousel-indicators li {
	background: #E9E9E9;
	margin: 0 4px 0 0;
}
.jsn-master .jsn-bootstrap .carousel .carousel-image {
	min-width: 100%; /* For IE8 */
  	min-height: 100%; /* For IE8 */
}
.jsn-master .jsn-bootstrap .carousel .carousel-content {
	padding: 0 50px;
}

[class*="col-"] {
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-o-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

/* Add margin for WP audio */
.wp-audio-shortcode {
    margin: 10px 0;
}